CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
bin
lib
build
.vscode
.cache
*.ini
*.tcl
.project
.ninja_deps
.ninja_log
.idea/
.cmake/
.build.ninja
.ccls-cache
